header {
	width:1100px;
	position: relative;
}

h1{ 
	position: relative;
	width: 270px;
	height: 55px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	margin-top: -0.5%;
	margin-left: 15%;
	padding-top: 13px;
	border-radius: 10px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

h2{
	font-size: 28px;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #4aaaa5;
	background-color: #ffffff;
	text-align: left;
	margin-left: 10px;
}

body{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
}

.navBar{
	background-color: white;
	width:1355px;
	left:-20px;
}


.links{
	display:inline-block;
	position: absolute;
	top: 15%;
	left: 55%;
	font-size: 24px;
	color: #4aaaa5;
	overflow: hidden;
	margin: auto;
	min-width:10%;

}

hr{
	margin-top:-21px;
	border: 2px solid;
	color:#000;
}

a {
	margin-right: 25px;
	text-decoration: none;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
 	-webkit-transition:.5s;
 	transition: .5s;
 	color: #4aaaa5;
}

a:hover{
	color: blue;
}

a:focus{
	color:#4aaaa5;
}


.siteBody{
	background-color: #ffffff;
	margin-left: 15%;
}

#portfolioImages{
	padding: 25px;
	width:650px;
	text-align: center;
	border-radius: 15px;
	border: 2px solid;
	color:#000;
	display: inline-block;
}

img{
	border-radius: 15px;
	box-shadow: 5px;
	border-width: 2px;
	border: 2px solid;
	color:#000;
}

.sidebar{
	float: right;
	background-color: #ffffff;	
	font-size: 24px;
	color: #4aaaa5;
	font-family: Georgia, Times, "Times New Roman", serif;
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 50px;
	margin-right: 133px;
	text-align: center;
}

.linkdinIcon{
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	border: none;
}

.githubIcon{
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	border: none;
}

.stackOverflowIcon{
	width: 50px;
	height: 50px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	border: none;
}

footer{
	margin: auto;
	text-align: center; 
	margin-bottom: 10px;
	position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    float: right;
    margin-top: 25px;
}